{% extends "layout.html" %}
{% block content %}
    <!-- Form
================================================== -->
    <div class="form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">
                        現在の新着記事一覧を表示します
                    </p>
                    <form action="/update" method="get" class="form-inline">
                        <button type="submit" class="btn btn-default">更新</button>
                    </form>
                    <br>
                    <h1>ITPro</h1>
                    {% if itpro_articles %}
                        {% for iatcl in itpro_articles %}
                            <a href={{ iatcl[1] }}>
                                ・{{ iatcl[0] }}
                            </a>
                            <br>
                        {% endfor %}
                    {% else %}
                        <p>記事はありません</p>
                    {% endif %}
                    <h1>GIGAZINE</h1>
                    {% if gigazine_articles %}
                        {% for gatcl in gigazine_articles %}
                            <a href={{ gatcl[1] }}>
                                ・{{ gatcl[0] }}
                            </a>
                            <br>
                        {% endfor %}
                    {% else %}
                        <p>記事はありません</p>
                    {% endif %}
                    <h1>CNETJapan</h1>
                    {% if cnet_articles %}
                        {% for catcl in cnet_articles %}
                            <a href={{ catcl[1] }}>
                                ・{{ catcl[0] }}
                            </a>
                            <br>
                        {% endfor %}
                    {% else %}
                        <p>記事はありません</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
